<div style="text-align: justify; line-height: 1.5">
  <ul>
    <li>
      {{- $content := .Inner -}}
      {{- $words := split $content " " -}}
      {{- $firstTwoWords := "" -}}
      {{- $rest := "" -}}
      {{- if ge (len $words) 2 -}}
        {{- $firstTwoWords = printf "%s %s" (index $words 0) (index $words 1) -}}
        {{- $rest = replace $content $firstTwoWords "" 1 -}}
      {{- else if eq (len $words) 1 -}}
        {{- $firstTwoWords = index $words 0 -}}
        {{- $rest = "" -}}
      {{- else -}}
        {{- $firstTwoWords = "" -}}
        {{- $rest = $content -}}
      {{- end -}}
      <strong>{{ $firstTwoWords }}</strong>{{ $rest }}
    </li>
  </ul>
</div>